AWS_ACCESS_KEY_ID={{ frigate_backup_aws_access_key }}
AWS_SECRET_ACCESS_KEY={{ frigate_backup_aws_secret_access_key }}
AWS_DEFAULT_REGION={{ frigate_backup_aws_region }}
MOSQUITTO_PASSWORD={{ frigate_backup_mosquitto_password }}
MOSQUITTO_USERNAME={{ frigate_backup_mosquitto_username }}
MOSQUITTO_HOST={{ frigate_backup_mosquitto_host }}
SERVICE_NAME={{ frigate_service_name }}
BACKUP_FROM={{ frigate_backup_from }}
BUCKET_NAME={{ frigate_backup_bucket_name }}
